.side-menu {
    width: 200px;
    position: fixed;
    left: 0;
    height: 100%;
    background-color: #a6652e;
    padding-top: 20px;
    border-top-right-radius: 20px; 
    border-bottom-right-radius: 20px; 
    z-index: 2;
}

.menu-list {
    list-style-type: none;
    padding: 0;
}

.menu-link {
    display: block;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
}

.menu-link:hover {
    background-color: #955b29;
}

@media (max-width: 1024px) {
    .side-menu {
      display: none;
    }
  }
  